#header
{
background-color:purple;
color:white;
height:60px;
font-size:40px;
text-align:left;
font-family:impact;
font-style:italic;
border-radius:4px;
}
a:link ,a:visited
{
text-decoration:none;
color:green;
}
a:hover  ,a:active
{
color:white;

}
#menu{

height:30px;
margin-top:3px;
padding-bottom:10px;
}
ul
{
list-style-type:none;
background-color:purple;
border-radius:5px;
height:30px;
padding-top:9px;
margin-top:0.30%;
}

#hw
{
background-color:green;
color:white;
text-align:center;
margin-left:-0%;
width:300px;
border-radius:6px;
border-style:inset;
margin-top:-10%;
}
#som
{
background-color:purple;
width:1000px;
height:500px;
color:white;
margin-left:9%;
border-radius:12px;
}

input
{
font-style:italic;
cursor:pointer;
border-radius:4px;
text-align:center;
}
caption{
background-color:white;
color:purple;
width:370px;
margin-left:2%;
border-radius:4px;
font-family:impact;
}
#error
{
background-color:red;
color:white;
text-align:center;
font-family:impact;
font-size:25px;
}#sucess
{
background-color:green;
color:white;
text-align:center;
font-family:impact;
font-size:25px;
}
h1
{
text-align:center;
font-family:verdana;
background-image:url(/soosal/ads/images/one.jpg);
color:purple;
text-transform:uppercase;
border-top-left-radius:11px;
border-top-right-radius:11px;
}



body
{
background-color:#EAEAEA;
}

#updates
{
text-align:left;

}
a:link.updates
{
color:green;
}
#sidebar{
margin-left:45%;
margin-top:-40%;
}
#upd
{

margin-left:35%;
margin-top:-30%;
}
.publisher
{
background-color:red;
color:white;
font-size:20px;
border-radius:5px;
text-align:left;
border-right-style:inset;
border-right-color:white;
border-bottom-style:inset;
border-bottom-color:white;
margin-top:1px;
}
.hint
{
font-size:20px;
width:350px;
background-color:red;
float:left;
text-align:center;
border-right-style:inset;
border-right-color:white;
border-bottom-style:inset;
border-bottom-color:white;
margin-left:3%;
margin-top:5%;
opacity:0.8;
}
textarea
{
border-radius:5px;
}
select
{
border-radius:15px;
background-color:purple;
color:white;
cursor:pointer;
}option
{
border-radius:15px;
border-radius:15px;
background-color:purple;
color:white;
cursor:pointer;
}
.tables
{
margin-left:150px;
float:left;
}
.error
{
font-size:20px;
background-color:red;
color:white;
width:300px;
text-align:center;
margin-left:35%;
border-radius:5px;
}.ok
{
background-color:green;
color:white;
width:300px;
text-align:center;
margin-left:35%;
border-right-style:inset;
border-right-color:white;
border-bottom-style:inset;
border-bottom-color:white;
}
p.hints
{

background-color:green;
margin-top:-6.50%;
}
.close
{
margin-top:0%;
margin-left:93%;
cursor:pointer;
}
.close:hover
{
color:red;
}
.forms
{
margin-left:40%;
}
.Button{
width:200px;
height:50px;
font-size:20px;
color:white;
font-weight:bold;
background-image:url(/soosal/ads/images/submit.jpg);
cursor:pointer;
}.Button:hover{
width:200px;
height:50px;
font-size:20px;
color:white;
font-weight:bold;
background-image:url(/soosal/ads/images/submit1.jpg);
cursor:pointer;
}
.ok
{
background-color:orange;
font-size:20px;
margin-left:-8%;
border-radius:5px;
}
#jquery
{
background-color:black;
color:white;
position:fixed;
height:1000px;
width:1500px;
margin-left:-600px;
margin-top:-500px;
opacity:0.80;

}
.box
{
opacity:1;

margin-left:40%;
margin-top:20%;
}
.code{
margin-left:-15;
}